$white: #fff;
$static: #40b9c7; 
$bodyColor: #efefef; 
$staticBlue: #40b9c7;

body {
	background: $bodyColor;
	

	p {
		padding: 50px; 
	}


.page {
	position: relative; 

	/* =====================================*/
.row {
	position: relative; 


	.static {
		color: #FF0000; 
		background-color: #40b9c7;   
		padding: 0; 
		position: fixed;
		height: 100vh; 
  		z-index: 999; 

  		.static-txt {
  			position: absolute; 
  			text-align: center; 
  			top: 25%; 
  			width: 100%; 
  			height: 100%; 
  			color: #efefef; 

  		}

  		#canvas {
  			width: 50vw; 
  			height: 100vh; 
  			position: relative; 
  			z-index: -1; 

  		}



	}

}

	/* =====================================*/ 
	.main-content {
		padding: 0; 
		height: 3000px; 
		position: absolute; 
		right: 0; 
		top: 0; 
		z-index: 10; 
		overflow: hidden; 

		.scroll-line {
		      position: fixed;
		      top: 0;
		      right: 0;
		      width: 50vw; 
		      height: 13px;
		      background: $staticBlue;
		      transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1.666) width;
		      z-index: 20;
		      display: none; 
		}

	}


}






} /* body */ 




